.cart{
  width: 1.5rem;
  
}
.cart-icon-container{

margin-left:auto;
margin-right: 1rem;

}
.cart-wrapper{
  background-color:#fff;
  position: absolute;
  top:15%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  z-index: 20;
  border-radius: 2vmax;
  box-shadow:0px 15px 25px #333;
  transform-origin:top;
  transition:opacity 200ms ease-out;
visibility: hidden;
  opacity:0;
  max-width:450px;
  max-height: 325px;
  width: 100%;
}
.cart-wrapper h4{
  font-size:1rem;
  text-align:center;
  padding:3.5em 0;
  color:#666;
}

.cart-visible{
visibility:visible;
  opacity:1;
}
.cart-wrapper h3{
  font-size:1.2rem;
  margin: 0;
  border-bottom: 1px solid rgba(153, 153, 153, 0.308);
  padding: 1.5em;
  margin-bottom: 0.5rem;
}
.cart-wrapper img[alt|="pr-img"]{
  height: 6em;
  border-radius: 1vmax;
}
.cart-wrapper img[alt|="del"]{
  margin-left:auto ;
  height: 1.5em;
  cursor:pointer;
  transition: transform 200ms ease-in-out;
}
.cart-wrapper img[alt|="del"]:hover{
  transform: scale(1.2);
}
.cart-i-container.csscart{
  overflow: auto;
  height: 125px;
  margin-bottom: 1rem;
}
.cart-items{
  display: flex;
  gap:1em;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
color:#666;
padding:1em 1.5em;
flex-wrap: wrap;

}
.cart-items strong{
display: block;
margin-bottom: .3rem;
}
.cart-items .i-total{
font-weight: 900;
color:#333;
margin-left: 5px;
}
.checkout__btn{
width: 80%;
font-weight:700;
font-size:.8rem;
margin:0 auto;
margin-bottom: 1.5rem;
display: none;
text-align:center;
}

