.nav-fixed{
  position:fixed;
  z-index:11;
  inset:0 ;
  background-color: rgba(0, 0, 0, 0.750);
  opacity: 0;
  visibility: hidden;
  transition:opacity 200ms;
}
.link-wrapper{
  position:fixed;
  z-index:12;
    inset:0 40% 0 0;
    background-color: white;
    display:flex;
    flex-direction:column;
  padding: 1.5em;
  transform: translateX(-100%);
  transition:all 300ms ease-in-out;


}
.nav-fixed .close-btn{
width: 20px;
margin-bottom: 2rem;
}
.nav-fixed a,.nav-links a{
  margin-top:1rem;
  text-decoration: none;
  font-weight: 700;
  color: #222;
}
.nav-fixed.open-4nav{
  opacity: 1;
  visibility: visible;

}
.nav-fixed .open-4navchild{
  transform: translateX(0);
}

/* desktop nav */
.nav-links{
  display: none;
  margin-right: auto;
  padding: 1.5rem;
  flex-shrink: 0;
}
.nav-links a{
  font-weight: normal;
  color: #424242c0;
  position: relative;
  margin-right: .5rem;
}
.nav-links a::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -120%;
  transition: background-color ease-in 100ms;
}
.nav-links a:hover::before{
  background-color: var(--Orange);
}
